.DS_Store
node_modules/
www/
platforms/.gradle/
platforms/assets/
npm-debug.log
yarn-error.log
release-key.keystore
build.json

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln