.DS_Store
node_modules/
www/*
platforms/
platforms/android
platforms/ios
npm-debug.log
yarn-error.log
package-lock.json
release-key.keystore
build.json
hooks/
plugins/
res/
config.xml


# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln