@header-background-color:#3287fd;
@header-title-color:#ffffff;
@header-text-color:#ffffff;
@header-arrow-color:#ffffff;
@tabbar-text-active-color:#3287fd;
@tab-text-active-color:#3287fd;
@tab-bar-active-color:#3287fd;
@button-primary-bg-color:#3287fd;
@button-primary-disabled-bg-color:#3287fd;
@button-primary-active-bg-color:#3287fd;
/*
#0db9b7
#4070ee
#000000
**/
