@header-background-color:#ffffff;
@header-title-color:#000000;
@header-text-color:#000000;
@header-arrow-color:#000000;
@tabbar-text-active-color:#4656ff;
@tab-text-active-color:#4656ff;
@tab-bar-active-color:#4656ff;
@button-primary-bg-color:#4656ff;
@button-primary-disabled-bg-color:#8992ef;
/*
#0db9b7
#4070ee
#000000
**/
