<!DOCTYPE html>
<html style="font-size: 14px">
  <head>
    <meta charset="utf-8">
    <meta name="format-detection" content="telephone=no">
    <meta name="msapplication-tap-highlight" content="no">
    <meta name="viewport" content="width=device-width,initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no, minimal-ui,viewport-fit=cover">
    <meta name="description" ,content="Mobile wallet for SIC">
    <title>智宝钱包</title>
  </head>

  <body>
    <script type="text/javascript" src="cordova.js"></script>
    <script type="text/javascript" src="static/js/index.js"></script>
    <!-- <script type="text/javascript" src="static/js/zepto.js"></script>
    <script type="text/javascript" src="static/js/qrcode.lib.min.js"></script>
    <script type="text/javascript" src="static/js/qrcode.js"></script> -->
    <!-- <script type="text/javascript" src="./static/cordova.js"></script> -->
    <div id="app-box"></div>
    <% for (var chunk in htmlWebpackPlugin.files.chunks) { %><script type="text/javascript" src="<%= htmlWebpackPlugin.files.chunks[chunk].entry %>"></script>
    <% } %>
    <!-- built files will be auto injected -->

  </body>
</html>

